* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#wrapper {
  max-width: 1340px;
  margin-top: 40px;
  margin-inline: auto;

  background-color: #fff;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-light);

  &__infoList {
    flex-shrink: 0;
    width: 150px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 30px;
    gap: 12px;

    li {
      color: #fff;
      font-family: var(--font-base);
      font-size: 1rem;
      font-weight: 700;
    }

    &-divider {
      width: 1px;
      background-color: orange;
      height: 25px;
    }

    &-cartInfo {
      button {
        gap: 8px;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
    }
  }
}

.logo {
  img {
    margin-right: 16px;
  }

  &__text {
    h1 {
      font-family: var(--font-base);
      font-size: 24px;
      font-weight: 800;
      letter-spacing: 0.24px;
      text-transform: uppercase;
      color: var(--gray-dark);
    }

    p {
      font-family: var(--font-base);
      font-size: 16px;
      font-weight: 400;
      color: var(--gray-dark);
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  gap: 32px;

  h2 {
    font-family: var(--font-base);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.32px;
    color: #000;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__filter-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li {
      button {
        padding: 14px 24px;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.24px;

        color: var(--gray-dark);
        background-color: var(--gray-light);
        border-radius: 30px;
      }
    }
  }

  &__filter-sort {
    position: relative;

    &__option {
      gap: 8px;
      flex-wrap: wrap;

      span {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.21px;
        color: var(--gray-dark);
        text-wrap: nowrap;

        img {
          margin-right: 8px;
        }
      }

      span:last-child {
        color: var(--accent-color);
        border-bottom: 1px dotted var(--accent-color);
        font-weight: 400;
      }
    }

    &__optionsList {
      position: absolute;
      top: 20px;
      right: 0;
      z-index: 5;
      -webkit-box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      border-radius: 10px;

      li {
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.21px;
        color: var(--gray-dark);
      }
    }
  }
}

.pizzaList {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, var(--pizza-card-width));
  justify-content: space-evenly;
  align-items: center;
  gap: 50px 20px;

  &__item {
    padding: 10px;
    transition: box-shadow 300ms;
    border-radius: 30px;

    &:hover {
      -webkit-box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.2);
    }

    &-image {
      margin-bottom: 10px;
    }

    h3 {
      margin-bottom: 20px;
      font-size: 1.25rem;
      font-weight: 800;
      letter-spacing: 0.2px;
      text-align: center;
      color: #000;
    }

    &-options {
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding: 6px;
      margin-bottom: 16px;
      background-color: var(--gray-light);
      border-radius: 10px;

      &__list {
        display: flex;
        gap: 6px;

        &-item {
          flex: 1;
          border-radius: 5px;

          button {
            padding: 10px;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.21px;
            text-align: center;
            color: #000;
          }
        }
      }
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h4 {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.33px;
        color: #000;
      }

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        padding: 12px 14px;

        font-size: 1rem;
        font-weight: 700;
        color: var(--accent-color);

        border-radius: 30px;
        border: 1px solid var(--accent-color);
        background: #fff;
        transition: all 200ms ease-in-out;

        &:hover {
          background-color: var(--accent-color);
          color: #fff;

          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}
