* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#wrapper {
  max-width: 1340px;
  margin-top: 40px;
  margin-inline: auto;

  background-color: #fff;
  border-radius: 10px;
}

.section__padding {
  padding: 40px;
}

.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainButton {
  min-width: 210px;
  padding: 16px 0;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 30px;

  transition: background-color 100ms ease;
}

@media screen and (max-width: 800px) {
  .section__padding {
    padding: 40px 20px;
  }
}
