@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

:root {
  --app-bg-color: #ffdf8c;
  --gray-100: #f3f3f3;
  --gray-200: #e4e4e4;
  --gray-300: #b6b6b6;
  --gray-400: #a0a0a0;
  --gray-700: #535353;
  --gray-800: #282828;
  --accent-color: rgb(254, 95, 32);
  --accent-color-lighten: rgb(255, 111, 55);

  --font-base: 'Nunito', sans-serif;

  --pizza-card-width: 300px;
}

#root {
  padding-inline: 15px;
}

body {
  font-family: var(--font-base);
  background-color: var(--app-bg-color);
  line-height: 1;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

button,
input {
  font-family: var(--font-base);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

input {
  background-color: transparent;
  border: none;
}

img {
  vertical-align: middle;
  object-fit: contain;
}

.block-scroll,
[block-scroll] {
  overflow: hidden;
}

// .main__button {
//   width: 100%;
//   padding: 18px 0;
//   font-size: 1rem;
//   font-weight: 600;
//   line-height: 1;
//   color: #fff;
//   border-radius: 18px;
//   background-color: #9dd458;
//   transition: background-color 100ms ease;

//   &:hover {
//     background-color: lighten(#9dd458, 4%);
//   }

//   &:active {
//     background-color: darken(#9dd458, 4%);
//   }
// }
