.home {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  .home {
    &__header {
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    &__header {
      gap: 40px;
    }
  }
}
